header {
  width: 100%;
  height: 100px;
  background-color: #22262a;
}

header .navbar {
  max-width: 1240px;
  height: 100px;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 80px;
  height: auto;
}

.hamburger {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-self: start;
}

.nav-items {
  padding: 0 1.5rem;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #22262a;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-items {
    margin: 1.5rem 0;
    font-size: 1.8rem;
  }
}
